.name-net{
    width: 1.25rem !important;
    height: 2.5rem !important;
    color: rgb(229, 9, 20) !important;
    fill: currentColor !important ;
    display: block;
    z-index: 2;
    box-sizing: border-box;
    font-size: 2rem !important;
    font-weight:bolder;
    font-style: oblique;
}

.parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    position: absolute ;
    top: -15px ;
    left: 25%;
  
    
}


.pro-div {
    text-align: center;
}
.add{
    text-overflow: ellipsis;
    text-wrap: nowrap ;
}
 button{
    width: 30%;
}
.button-profile{
    margin-right: 30px;
}